<h1>Menu</h1>
<div>
User: <%= @user.name %>
</div>
<div>
	<h2>Your Lists</h2>
	<ul><!--List of ToDo lists for current user-->
		<% @user.lists.each do |lst| %>
			<li>
				<%= lst.name %>
				<%= link_to 'Show', user_list_path(@user.id, lst.id) %>
				<!--<= link_to 'destroy', user_list_path(@user.id, lst.id), :method => :delete, data: { confirm: 'Are you sure?' } %>-->
				<%= button_to "Delete", user_list_path(@user.id, lst.id), method: :delete %>
			</li>
		<% end %>
	</ul>
</div>
<div><!--Form for adding a new list-->
	<h2>Add a List</h2>
	<%= form_for :list, url: user_lists_path do |f| %>

		<% if @list && @list.errors.any? %>
			<div id="error_explanation">
				<h2>
					<%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:
				</h2>
				<ul>
					<% @list.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div>
			<%= f.label :name %><br>
			<%= f.text_field :name %>
		</div>

		<div>
			<%= f.submit "Create List" %>
		</div>
 
	<% end %>
</div>
